<!-- task-card.component.html -->

<div class="task-card w-100">

    <!-- Top Card Part -->
    <div class="task-card__top" (mouseenter)="onTopHover(true)" (mouseleave)="onTopHover(false)">

        <!-- Show path (if hoveredTop() === true) -->
        <div class="task-card__path" *ngIf="hoveredTop()">
            {{ task.taskPath.projectName }} /
            {{ task.taskPath.productName }} /
            v.{{ task.taskPath.version }} /
            {{ task.taskPath.feature }}
        </div>

        <div class="task-card__title">
            <span class="task-card__type-icon">
                {{ task.taskType }}
            </span>
            <span class="task-card__name">
                {{ task.taskName }}
                ({{ task.taskKey }})
            </span>
        </div>
    </div>

    <!-- Bottom Card Part -->
    <div class="task-card__bottom" (mouseenter)="onBottomHover(true)" (mouseleave)="onBottomHover(false)">

        <!-- Progress bar -->
        <div class="progress-bar">
            <!-- Progress bar here... -->
            <ng-container *ngFor="let status of task.taskStatuses; let i = index">
                <div class="progress-bar__block" [ngClass]="getProgressBlockClass(i)"></div>
            </ng-container>
        </div>

        <!-- Status, performer, time -->
        <div class="task-card__info">
            <span class="task-card__status-icon">
                {{ task.currentTaskStatus }}
            </span>
            <!-- Get this task assignee name -->
            <span class="task-card__performer">
                {{ taskPerformerName() }}
            </span>
            <span class="task-card__time">
                Затрачено: {{ task.taskTime.spent }} / План: {{ task.taskTime.planned }}
            </span>
        </div>

        <!-- Show control buttons (if hoveredBottom() === true) -->
        <div class="task-card__actions" *ngIf="hoveredBottom()">
            <ng-container *ngIf="isInProgress; else elseButtons">
                <button (click)="onPauseClick()">На паузу</button>
                <button (click)="onDoneClick()">Готово</button>
            </ng-container>
            <ng-template #elseButtons>
                <button (click)="onEditClick()">Исправить</button>
                <button *ngIf="task.currentTaskStatus !== TaskStatus.Draft" (click)="onInWorkClick()">В работу</button>
                <button *ngIf="task.currentTaskStatus !== TaskStatus.Draft" (click)="onAcceptClick()">Принять</button>
            </ng-template>
        </div>

    </div>

</div>