// task-card.component.scss

@import '../../../../styles/variables.scss';

.task-card {
    border: 1px solid $divider;
    border-radius: 8px;
    background: $bg-light;
    padding: 12px;
    gap: 24px;

    transition: height 1.2s ease;
    overflow: hidden;

    &__top {
        gap: 8px;
        transition: height 0.2s ease;
        height: auto;
    }

    &__path {
        justify-content: flex-start;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: $text-service;

        opacity: 0;
        max-height: 0;
        transition: opacity 0.2s ease, max-height 0.2s ease;
        overflow: hidden;
        gap: 6px;

        &.visible {
            opacity: 1;
            max-height: 100px;
        }
    }

    &__title {
        gap: 16px;
    }

    &__type-icon {
        color: $orange;
    }

    &__name {
        flex-grow: 1;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: $text-primary;
    }

    &__key {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        text-align: right;
        color: $text-secondary;
    }

    &__bottom {
        gap: 24px;
        transition: height 0.2s ease;
        height: auto;
    }

    &__info {
        gap: 12px;
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
        text-align: right;
        color: $text-secondary;
    }

    &__user {
        gap: 4px;
        flex-grow: 1;
        justify-content: flex-start;
    }

    &__performer {
        color: $text-secondary;
    }

    &__time {
        gap: 8px;
        color: $text-service;
    }
}

.user-avatar {
    cursor: pointer;

    &__img {
        width: 16px;
        height: 16px;
        background-color: $divider;
        border-radius: 50%;
        object-fit: cover;
    }
}

.progress-bar {
    gap: 6px;
    height: 2px;
    gap: 4px;

    &__block {
        flex-grow: 1;
        height: 2px;

        &_green {
            background-color: $green;
        }

        &_active-blue {
            background-color: $active-blue;
        }

        &_text-secondary {
            background-color: $text-secondary;
        }

        &_divider {
            background-color: $divider;
        }
    }
}

.actions {
    gap: 12px;
    height: 0;
    opacity: 0;
    transition: height 0.2s ease, opacity 0.2s ease;
    overflow: hidden;

    &.visible {
        height: 44px;
        opacity: 1;
    }

    &__btn {
        height: 100% !important;
        flex-grow: 1;
        padding: 0 8px;
        border-radius: 6px;
        transition: background 0.3s;

        &_edit {
            background: rgba($red, 0.05);
            color: $red;
            border: $red 1px solid;

            &:hover {
                background: rgba($red, 0.2);
            }
        }

        &_to-work {
            background: rgba($active-blue, 0.05);
            color: $active-blue;
            border: $active-blue 1px solid;

            &:hover {
                background: rgba($active-blue, 0.2);
            }
        }

        &_accept {
            background: rgba($green, 0.05);
            color: $green;
            border: $green 1px solid;

            &:hover {
                background: rgba($green, 0.2);
            }
        }

        &_pause {
            background: rgba($text-secondary, 0.05);
            color: $text-secondary;
            border: $text-secondary 1px solid;

            &:hover {
                background: rgba($text-secondary, 0.2);
            }
        }

        &_ready {
            background: rgba($green, 0.05);
            color: $green;
            border: $green 1px solid;

            &:hover {
                background: rgba($green, 0.2);
            }
        }
    }
}