// header.component.scss

@import '../../../../styles/variables.scss';

// Header menu
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    height: 30px;
    gap: 24px;

    &__left-group {
        display: flex;
        align-items: center;
        gap: 24px;

        .header__tabs {
            display: flex;
            list-style: none;
            gap: 24px;

            .header__tab {
                padding: 8px 12px; // change
                color: $text-secondary;
                cursor: pointer;

                &.active {
                    color: $active-blue;
                    border-bottom: 2px solid $active-blue;
                }
            }
        }

        // .header__create-btn {
        //     padding: 8px 16px;
        //     color: $active-blue;
        //     border: $active-blue 1px solid;
        //     border-radius: 4px;
        //     cursor: pointer;
        // }
        .header__create-container {
            position: relative;

            .header__create-btn {
                padding: 8px 16px;
                color: $active-blue;
                border: $active-blue 1px solid;
                border-radius: 4px;
                cursor: pointer;
                background: none;
                transition: background 0.3s;

                &:hover {
                    background: rgba($active-blue, 0.1);
                }
            }

            .create-popup {
                position: absolute;
                top: 100%;
                left: 0;
                background: $bg-light;
                border: 1px solid $divider;
                border-radius: 6px;
                box-shadow: 0 2px 5px $shdw-menu-1;
                // margin-top: 8px;
                width: 150px;
                z-index: 20;
                display: flex;
                flex-direction: column;

                .create-popup__option {
                    padding: 10px 16px;
                    cursor: pointer;
                    transition: background 0.2s;

                    &:hover {
                        background: $bg-light;
                    }
                }
            }
        }
    }

    &__right-group {
        display: flex;
        align-items: center;
        gap: 24px;

        .header__time {
            display: flex;
            background: $active-blue;
            color: $white;
            border-radius: 4px;
            padding: 8px 12px;
            font-weight: bold;
        }

        .header__last-task {
            display: flex;
            // background: $bg-light;
            color: $text-text;
            // border-radius: 4px;
            padding: 8px 12px;
            // font-style: italic;

            // position: absolute;
            // top: 100%;
            // left: 0;
            background: $bg-light;
            border: 1px solid $divider 4%;
            border-radius: 6px;
            box-shadow: 0 2px 5px $shdw-menu-1;
            // margin-top: 8px;
            min-width: 100px;
            max-width: 150px;
            z-index: 20;
            display: flex;
            flex-direction: column;
        }

        .header__notifications {
            // margin-right: 16px;
            // cursor: pointer;
            // background: none;
            // border: none;
            display: flex;
            position: relative;
            padding: 8px 12px;

            background: $bg-light;
            border: 1px solid $divider 4%;
            border-radius: 6px;
            box-shadow: 0 2px 5px $shdw-menu-1;
            // margin-top: 8px;
            min-width: 100px;
            max-width: 150px;
            z-index: 20;
            display: flex;
            flex-direction: column;

            cursor: pointer;
            // background: none;
            // border: none;
            // position: relative;
            // font-size: 16px;

            .notifications__count {
                position: absolute;
                top: -5px;
                right: -10px;
                background: red;
                color: white;
                border-radius: 50%;
                width: 18px;
                height: 18px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 12px;
                font-weight: bold;
            }
        }

        .header__user-avatar {
            transition: transform 0.3s ease;
        }

        .header__user-avatar:hover {
            transform: scale(1.1) rotate(10deg);

        }

        .header__user-img {
            width: 40px;
            height: 40px;
            background-color: $divider;
            border-radius: 50%;
        }

        .user-popup {
            position: absolute;
            top: 60px;
            right: 40px;
            background: #e0e0e0;
            height: 200px;
            z-index: 10;
            border-radius: 8px;
            padding: 8px;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

    }
}