// header.component.scss

@import '../../../../styles/variables.scss';

.header {
    height: 30px;
    gap: 12px;
    margin: 12px 0;

    &__group {
        gap: 12px;
    }
}

.divider {
    height: 100%;
    width: 1px;
    border-right: 1px solid $divider;
}

.tabs {
    list-style: none;
    gap: 12px;

    &__item {
        color: $text-secondary;
        cursor: pointer;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        gap: 8px;

        &_active {
            color: $active-blue;
        }

        &:hover {
            color: $active-blue;
        }
    }
}

.create {
    position: relative;

    &__popup {
        position: absolute;
        top: 100%;
        left: 0;
        background: $bg-light;
        border: 1px solid $divider;
        border-radius: 6px;
        box-shadow: 0 2px 5px $shdw-menu-1;
        width: 115px;
        z-index: 20;
    }

    &__option {
        padding: 10px 16px;
        cursor: pointer;
        transition: background 0.2s;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        border-radius: 6px;

        &:hover {
            background: $bg-blue;
        }
    }
}

.time {
    background: $active-blue;
    box-shadow: 0 5px 10px $shdw-menu-2;
    color: $white;
    border-radius: 4px;
    padding: 0 6px;
    gap: 4px;
    height: 30px;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
}

.last-task {
    justify-content: flex-start;
    color: $text-text;
    background: $bg-light;
    min-width: 200px;
    max-width: 368px;
    padding: 0 8px;
    gap: 4px;
    border: 0.5px solid $bg-border;
    border-radius: 6px;
    box-shadow: 0 2px 5px $shdw-menu-1;
}

.notifications {
    border: 0.5px solid $bg-border;
    border-radius: 6px;
    color: $text-text;
    background: $bg-light;
    box-shadow: 0 2px 5px $shdw-menu-1;

    &__count {
        left: 11px;
        width: 26px;
    }
}

.user-avatar {
    transition: transform 0.3s ease;
    position: relative;
    cursor: pointer;

    &__img {
        width: 30px;
        height: 30px;
        background-color: $divider;
        border-radius: 50%;
        object-fit: cover;
    }

    &:hover {
        transform: scale(1.1);
    }
}

.user-popup {
    position: absolute;
    top: 60px;
    right: 40px;
    z-index: 10;
    min-width: 200px;
    min-height: 120px;
    border: 1px solid $bg-border;
    border-radius: 6px;
    padding: 12px;
    gap: 8px;
    background: $bg-menu;
    box-shadow: 0 2px 5px $shdw-menu-1;

    p {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: $text-primary;
    }

    span {
        color: $text-text;
    }

    button {
        padding: 0 12px;
        color: $active-blue;
        border: $active-blue 1px solid;
        border-radius: 4px;
        cursor: pointer;
        background: none;
        transition: background 0.3s;
        font-weight: 500;
        font-size: 13px;
        line-height: 18px;
        height: 30px;

        &:hover {
            background: rgba($active-blue, 0.1);
        }
    }
}