// main-page.component.scss

@import '../../../styles/variables.scss';

.main-date {
    color: $text-primary;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    margin: 8px 0;
}

::ng-deep .p-select-overlay {
    padding: 12px 8px;
    background-color: $bg-menu !important;
    border-radius: 4px !important;
    min-width: 220px !important;
    max-width: 300px;
    border: 1px solid $bg-border !important;
    box-shadow: 0 2px 5px $shdw-menu-1 !important;
}

::ng-deep .p-select-list {
    width: 200px;
    color: $text-primary;
}

::ng-deep .flex {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;
    height: 18px;
    gap: 8px;

    span {
        margin: 0 !important;
    }
}

::ng-deep p-dropdownitem {
    :hover {
        color: $active-blue;
    }
}

::ng-deep .p-select-option {
    padding: 8px 0 !important;
}

::ng-deep .p-select-option-selected {
    color: $active-blue !important;
}

.columns {
    gap: 32px;
    height: 100px;
    flex-grow: 1;

    &__left,
    &__right {
        justify-content: flex-start;
        flex: 1;
        gap: 16px;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__right {
        overflow-y: auto;
    }

    &__wrapper {
        overflow-y: auto;
        gap: 16px;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}


// MOBILE 
@media (max-width: 768px) {
    .columns__right {
        display: none;

    }

    .single-column {
        justify-content: flex-start;
        gap: 16px;
    }
}