@import '../../../styles/variables.scss';

.main-date {
    color: $text-primary;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    margin: 0;
    margin-bottom: 8px;
}

.dropdown-filters {
    justify-content: flex-start;
    gap: 12px;
    height: 32px;
    border-radius: 4px;
    gap: 12px;
    margin-bottom: 8px;

    &__select {
        background-color: $bg-menu;
        color: $text-text;
        border-radius: 4px;
        cursor: pointer;

        border-radius: 4px;
        padding: 0 12px;
        gap: 2px;

        border: 1px solid $bg-border;
        box-shadow: 0 2px 5px $shdw-menu-1;
    }
}

.columns {
    gap: 32px;
    height: 100px;
    flex-grow: 1;

    &__left,
    &__right {
        justify-content: flex-start;
        flex: 1;
        overflow-y: auto;
        gap: 16px;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.status-filters {
    gap: 8px;
    padding: 8px;
    border-bottom: 1px solid $divider;

    &__item {
        background-color: $bg-fields;
        padding: 8px;
        border-radius: 4px;
        cursor: pointer;
    }
}

.tasks-block {
    border-radius: 8px;
    gap: 8px;

    &__title {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: $text-text;
    }

    // wrap by default?
    &__body {
        background-color: $bg-blocks;
        border: 1px solid $bg-border;
        box-shadow: 0 2px 5px $shdw-menu-1;
        border-radius: 8px;
        padding: 12px;
        gap: 8px;
    }

    &_in-progress {
        background-color: $bg-blue;
        padding: 12px;
    }

    &_paused {
        background-color: none;
    }
}

.no-task-block {
    background-color: $bg-blocks;
    border: 1px solid $bg-border;
    box-shadow: 0 2px 5px $shdw-menu-1;
    border-radius: 8px;
    padding: 12px;
    gap: 8px;
}