// main-page.component.scss

@import '../../../styles/variables.scss';

.main-date {
    color: $text-primary;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    margin: 0;
    margin-bottom: 8px;
}

.dropdown-filters {
    justify-content: flex-start;
    gap: 12px;
    height: 32px;
    border-radius: 4px;
    margin-bottom: 8px;

    &__select {
        background-color: $bg-menu;
        color: $text-text;
        cursor: pointer;

        border-radius: 4px;
        padding: 0 12px;
        gap: 2px;

        border: 1px solid $bg-border;
        box-shadow: 0 2px 5px $shdw-menu-1;

        // appearance: none;
        // -webkit-appearance: none;
        // -moz-appearance: none;
    }
}

.columns {
    gap: 32px;
    height: 100px;
    flex-grow: 1;

    &__left,
    &__right {
        justify-content: flex-start;
        flex: 1;
        gap: 16px;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__right {
        overflow-y: auto;
    }

    &__wrapper {
        overflow-y: auto;
        gap: 16px;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.status-filters {
    justify-content: flex-start;
    gap: 20px;
    border-bottom: 1px solid $divider;
    padding: 8px 0;

    &__item {
        padding: 8px 0;
        cursor: pointer;
        color: $text-text;
        font-weight: 400;
        font-size: 14px;
        line-height: 4px;
        background-color: none;
        transition: background-color 0.3s, color 0.3s;

        input[type="radio"] {
            position: absolute;
            opacity: 0;
            width: 0;
            height: 0;
        }

        &.status-filters__item_active {
            color: $active-blue;
            border-bottom: 1px solid $active-blue;
        }

        &:hover {
            // color: rgba($active-blue, 0.5);
            // border-bottom: 1px solid rgba($active-blue, 0.5);
            color: $active-blue;
            border-bottom: 1px solid $active-blue;
        }
    }
}

.tasks-block {
    border-radius: 8px;
    gap: 8px;

    &__title {
        justify-content: flex-start;
        gap: 12px;

        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: $text-text;

        cursor: pointer;
        user-select: none;
        position: relative;
    }

    .collapse-icon {
        transform: rotate(180deg);
        transition: transform 0.3s ease;
        display: inline-block;

        &.collapsed {
            transform: rotate(0deg);
        }
    }

    &__body {
        background-color: $bg-blocks;
        border: 1px solid $bg-border;
        box-shadow: 0 2px 5px $shdw-menu-1;
        border-radius: 8px;
        padding: 12px;
        gap: 8px;
    }

    p {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: $text-text;
    }

    &_in-progress {
        background-color: $bg-blue;
        padding: 12px;
    }

    &_paused {
        background-color: none;
    }
}

.no-task-block {
    background-color: $bg-blocks;
    border: 1px solid $bg-border;
    box-shadow: 0 2px 5px $shdw-menu-1;
    border-radius: 8px;
    padding: 12px;
    gap: 8px;
}