<!-- main-page.component.html -->

<!-- icon for dropdowns and collapsible blocks -->
<!-- <app-icon iconId="icon-misc-chevron-down" width="16" height="16" color="#B0B0B0"></app-icon> -->

<!-- Current date -->
<h1 class="main-date">
    {{ currentDateStr() }}
</h1>

<!-- Dropdown menu filters -->
<div class="dropdown-filters flex-row">
    <select class="dropdown-filters__select flex-row center-row" [(ngModel)]="selectedProduct"
        (ngModelChange)="onProductFilterChange($event)">
        <option value="all">Все продукты</option>
        <!-- List of unique projectName options -->
        <option *ngFor="let product of allProjects()" [value]="product">
            {{ product }}
        </option>
    </select>

    <select class="dropdown-filters__select flex-row center-row" [(ngModel)]="selectedCategory"
        (ngModelChange)="onCategoryFilterChange($event)">
        <option value="all">
            <app-icon iconId="icon-none" width="16" height="16" color="#B0B0B0"></app-icon>
            <span>Все задачи</span>
        </option>
        <option value="common">
            <app-icon iconId="icon-filter-general" width="16" height="16" color="#B0B0B0"></app-icon>
            <span>Общие</span>
        </option>
        <option value="development">
            <app-icon iconId="icon-filter-dev" width="16" height="16" color="#B0B0B0"></app-icon>
            <span>Разработка</span>
        </option>
        <option value="testing">
            <app-icon iconId="icon-filter-test" width="16" height="16" color="#B0B0B0"></app-icon>
            <span>Тестирование</span>
        </option>
        <option value="errors">
            <app-icon iconId="icon-filter-bug" width="16" height="16" color="#B0B0B0"></app-icon>
            <span>Ошибки</span>
        </option>
    </select>
</div>

<!-- Task columns -->
<div class="columns flex-row">

    <!-- Left column -->
    <div class="columns__left flex-col">

        <div class="status-filters flex-row center-row">
            <label class="status-filters__item h-100 flex-row center-row"
                [ngClass]="{'status-filters__item_active': selectedStatusFilter() === TaskStatus.Approval}">
                <input type="radio" name="leftColumnStatus" [value]="TaskStatus.Approval"
                    [(ngModel)]="selectedStatusFilter" />
                На согласование: {{ approvalCount() }}
            </label>
            <label class="status-filters__item h-100 flex-row center-row"
                [ngClass]="{'status-filters__item_active': selectedStatusFilter() === TaskStatus.Review}">
                <input type="radio" name="leftColumnStatus" [value]="TaskStatus.Review"
                    [(ngModel)]="selectedStatusFilter" />
                На ревью: {{ reviewCount() }}
            </label>
            <label class="status-filters__item h-100 flex-row center-row"
                [ngClass]="{'status-filters__item_active': selectedStatusFilter() === TaskStatus.Execution}">
                <input type="radio" name="leftColumnStatus" [value]="TaskStatus.Execution"
                    [(ngModel)]="selectedStatusFilter" />
                Для работы: {{ executionCount() }}
            </label>
            <label class="status-filters__item h-100 flex-row center-row"
                [ngClass]="{'status-filters__item_active': selectedStatusFilter() === TaskStatus.Draft}">
                <input type="radio" name="leftColumnStatus" [value]="TaskStatus.Draft"
                    [(ngModel)]="selectedStatusFilter" />
                Черновики: {{ draftCount() }}
            </label>
        </div>

        <div class="columns__wrapper flex-col">
            <div class="tasks-block flex-col">
                <div class="tasks-block__title flex-row center-row" (click)="toggleCollapsible('myTasks')">
                    <span class="collapse-icon" [ngClass]="{'collapsed': collapsed().myTasks}">
                        <app-icon iconId="icon-misc-chevron-down" width="16" height="16" color="#B0B0B0"></app-icon>
                    </span>
                    Мои: {{ myTasksFiltered().length }}
                </div>
                <!-- *ngIf="!collapsed.myTasks" -->
                <div class="tasks-block__body tasks-block__body_collapsible flex-col" *ngIf="!collapsed().myTasks">
                    <!-- Check if user exists -->
                    <ng-container *ngIf="userData; else showLoginMessage">
                        <!-- Check if the user has tasks -->
                        <ng-container *ngIf="myTasksFiltered().length > 0; else showNoMyTasksMessage">
                            <app-task-card *ngFor="let t of myTasksFiltered()" [task]="t"
                                [isInProgress]="false"></app-task-card>
                        </ng-container>
                        <!-- Message when no tasks -->
                        <ng-template #showNoMyTasksMessage>
                            <p>У вас нет задач.</p>
                        </ng-template>
                    </ng-container>
                    <!-- Message for anonymous user -->
                    <ng-template #showLoginMessage>
                        <p>Войдите в свой аккаунт, чтобы просмотреть свои задачи.</p>
                    </ng-template>
                </div>
            </div>

            <div class="tasks-block flex-col">
                <div class="tasks-block__title flex-row center-row" (click)="toggleCollapsible('unassigned')">
                    <span class="collapse-icon" [ngClass]="{'collapsed': collapsed().unassigned}">
                        <app-icon iconId="icon-misc-chevron-down" width="16" height="16" color="#B0B0B0"></app-icon>
                    </span>
                    Неназначенные: {{ unassignedFiltered().length }}
                </div>
                <!-- *ngIf="!collapsed.unassigned" -->
                <div class="tasks-block__body tasks-block__body_collapsible flex-col" *ngIf="!collapsed().unassigned">
                    <!-- Check if unassigned tasks exist -->
                    <ng-container *ngIf="unassignedFiltered().length > 0; else showNoUnassignedTasksMessage">
                        <app-task-card *ngFor="let t of unassignedFiltered()" [task]="t" [isInProgress]="false">
                        </app-task-card>
                    </ng-container>
                    <!-- Message when no tasks -->
                    <ng-template #showNoUnassignedTasksMessage>
                        <p>Нет неназначенных задач.</p>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>

    <!-- Right column -->
    <div class="columns__right flex-col">
        <div class="tasks-block tasks-block_in-progress flex-col">
            <div class="tasks-block__title">
                В работе: {{ inProgressFiltered().length }}
            </div>
            <!-- Check if the user has tasks -->
            <ng-container *ngIf="inProgressFiltered().length > 0; else showNoInProgressTasksMessage">
                <app-task-card *ngFor="let t of inProgressFiltered()" [task]="t" [isInProgress]="true">
                </app-task-card>
            </ng-container>
            <!-- Message when no tasks -->
            <ng-template #showNoInProgressTasksMessage>
                <p>Нет задач в работе.</p>
            </ng-template>
        </div>

        <div class="tasks-block tasks-block_paused flex-col">
            <div class="tasks-block__title">
                На паузе: {{ pauseFiltered().length }}
            </div>
            <!-- Check if the user has tasks -->
            <ng-container *ngIf="pauseFiltered().length > 0; else showNoPausedTasksMessage">
                <app-task-card *ngFor="let t of pauseFiltered()" [task]="t" [isInProgress]="false">
                </app-task-card>
            </ng-container>
            <!-- Message when no tasks -->
            <ng-template #showNoPausedTasksMessage>
                <div class="no-task-block">
                    <p>Нет задач на паузе.</p>
                </div>
            </ng-template>
        </div>
    </div>
</div>