<p-dropdown class="dropdown-filters__select flex-row center-row"
    [ngClass]="{'dropdown-filters__select_active': value !== 'all'}" [options]="productOptions" optionLabel="label"
    optionValue="value" [(ngModel)]="value" (onChange)="onChange($event.value)" [showClear]="false" [filter]="false"
    dropdownIcon="none">

    <!-- Element in the list -->
    <ng-template pTemplate="item" let-prod>
        <div class="flex align-items-center">
            <app-icon *ngIf="prod?.icon" [iconId]="prod.icon" width="16" height="16" color="#B0B0B0"></app-icon>
            <span style="margin-left: 4px;">{{ prod.label }}</span>
        </div>
    </ng-template>

    <!-- Selected element -->
    <ng-template pTemplate="selectedItem" let-prod>
        <div class="flex align-items-center">
            <app-icon *ngIf="prod?.value !== 'all'" [iconId]="prod?.icon" width="16" height="16"
                color="#B0B0B0"></app-icon>
            <span style="margin-left: 4px;">{{ prod?.label }}</span>
        </div>
    </ng-template>

    <!-- Custom arrow -->
    <ng-template pTemplate="dropdownicon">
        <app-icon iconId="icon-misc-chevron-down" width="16" height="16" color="#B0B0B0"></app-icon>
    </ng-template>
</p-dropdown>