@import './variables.scss';
@import './utils.scss';

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    background: $bg-grayDark;
}

body {
    margin: 0;
    font-family: "Inter", serif;

    // feuerfuchs
    // scrollbar-width: thin;
    // scrollbar-color: $active-blue transparent;
}

app-main-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 8px;
}

app-task-card {
    display: flex;
}

app-login,
app-register,
app-new-task,
app-edit-task {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

app-icon {
    display: flex;
}

::-webkit-scrollbar {
    width: 5px;
    height: 6px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: $active-blue;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px transparent;
}

@media (max-width: 768px) {

    app-root {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    app-main-page {
        padding: 8px 0 100px 0;
        overflow: auto;
        margin: 0;
    }
}