@import '../../../../styles/variables.scss';

span {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: $text-primary;
}


// Custom styles
.time {
    &__block {
        gap: 8px;
    }

    &__input {
        width: 80px;
    }
}

.btn-delete {
    flex-grow: 1;
    color: $red;
    border: $red 1px solid;

    &:hover {
        background: rgba($red, 0.1);
    }
}

.btn-submit {
    flex-grow: 2;
}

// MOBILE
@media (max-width: 768px) {
      .status-checkboxes {
        flex-direction: row;
        flex-wrap: wrap;

        label {
            width: unset;
            flex-grow: 1;
        }
    }

    .time {
        flex-wrap: wrap;
        gap: 8px;

        &__block {
            width: -webkit-fill-available;
        }

        &__input {
            width: unset;
        }
    }

    .btns {
        flex-direction: row;
        gap: 12px;
        margin: 0;
    }
}