<!-- login.component.html -->

<h2>Вход</h2>
<form class="flex-col" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <div class="form-block h-100 flex-row center-row">
        <label for="email">Email:</label>
        <input class="flex-grow" id="email" formControlName="email" type="email" required />
    </div>

    <div class="form-block h-100 flex-row center-row">
        <label for="password">Пароль:</label>
        <input class="flex-grow" id="password" formControlName="password" type="password" required />
    </div>

    <button type="submit" [disabled]="loginForm.invalid">Войти</button>

    <div *ngIf="errorMessage" class="error">
        {{ errorMessage }}
    </div>
</form>

<div class="flex-col">
    <div class="form-block h-100 flex-row center-row">
        <span>Нет аккаунта?</span>
        <button class="flex-grow" (click)="goToRegister()">Зарегистрироваться</button>
    </div>
    <div class="form-block h-100 flex-row center-row">
        <span>Или</span>
        <button class="btn-anon flex-grow" (click)="signInAnonymously()">продолжить без учётной записи</button>
    </div>
</div>