<!-- login.component.html -->

<div class="auth-container">
    <h2>Вход</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <label for="email">Email:</label>
        <input id="email" formControlName="email" type="email" required />

        <label for="password">Пароль:</label>
        <input id="password" formControlName="password" type="password" required />

        <button type="submit" [disabled]="loginForm.invalid">Войти</button>

    </form>
    <div *ngIf="errorMessage" class="error">
        {{ errorMessage }}
    </div>

    <p>Нет аккаунта? <button (click)="goToRegister()">Зарегистрироваться</button></p>
    <p>Или</p>
    <button (click)="signInAnonymously()">продолжить без учётной записи</button>
    <p>(ограниченный функционал)</p>

</div>