@import '../../../../../styles/variables.scss';

input {
    padding-left: 20px !important;
}

span {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: $text-primary;
}

.routes {
    margin: 0 24px 24px;
}

@media (max-width: 768px) {
    button {
        width: -webkit-fill-available;
    }
}