@import '../styles/variables.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 4px);
    padding: 0 40px;
    border-top: $active-blue 4px solid;
}

@media (max-width: 768px) {
    .wrapper {
        height: unset;
        padding: 0 16px;
        border-top: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}