<!-- register.component.html -->

<h2>Регистрация</h2>
<form class="flex-col" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <div class="form-block h-100 flex-row center-row">
        <label for="username">Имя:</label>
        <input class="flex-grow" id="username" formControlName="username" type="text" required />
    </div>

    <div class="form-block h-100 flex-row center-row">
        <label for="email">Email:</label>
        <input class="flex-grow" id="email" formControlName="email" type="email" required />
    </div>

    <div class="form-block h-100 flex-row center-row">
        <label for="password">Пароль:</label>
        <input class="flex-grow" id="password" formControlName="password" type="password" required />
    </div>

    <div class="form-block h-100 flex-row center-row">
        <label for="confirmPassword">Подтвердите пароль:</label>
        <input class="flex-grow" id="confirmPassword" formControlName="confirmPassword" type="password" required />
    </div>

    <button class="btn-act" type="submit" [disabled]="registerForm.invalid" style="max-width: unset;">
        Зарегистрироваться
    </button>

    <div class="error-message form-block h-100 flex-row center-row">
        <span>{{ errorMessage }}</span>
    </div>
</form>

<div class="flex-col">
    <div class="form-block h-100 flex-row center-row">
        <label>Уже есть аккаунт?</label>
        <button class="flex-grow" (click)="goToLogin()">Войти</button>
    </div>
    <div class="form-block h-100 flex-row center-row">
        <label>Или</label>
        <button class="btn-anon flex-grow" (click)="signInAnonymously()">Продолжить без учётной записи</button>
    </div>
</div>